html {
    position: relative;
    height: 100%;
    min-width:1300px;
    width:100%;
}


a {
    list-style-type: none !important;
    text-decoration: none !important;
}

.profil img {
    border: 4px solid;
    margin-top: 70px;
    object-fit: cover;
}

.list-link a {
    color: white;
    font-size: 13px;
    padding-right: 30px;
}

.list-link a:hover {
    text-decoration: none;
    color: lightslategray;
}

.list-link li {
    border: 0px;
}

.search {
    border: 0px !important;
    text-align: center;
    border-radius: 100px;
    background: #ffffff2e;
}

.input-s {
    position: relative;
}

.road {
    border: 0px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 1px;
    padding: 11px;
}

.account {
    overflow: auto;
    height: 100%;
}

.messg {
    height: 100%;
    background: #f3f3f3;
}


.list-group-item:hover {
    background: rgba(0,0,0,.125);
}

.pesan {
    height: 90%;
    padding: 20px 10px;
    overflow: auto;
    display: none;
}

.pesan-kirim {
    width: 90%;
    height: 37px !important;
    border-radius: 100px;
    resize: none;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 7px;
}

.send {
    padding-top: 9px;
}

.send-user {
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    max-width: 85%;
    font-size: 13px;
    margin-top: 20px;
}

.send-user p {
    margin: 0px;
}

.userisme  {
    display: flex;
    justify-content: flex-end;
}

.userisme .send-user {
    background: #ddd !important
}
.sidebar {
    min-width: 327px !important;
}

.__l-t {
    height: 580px;
    overflow: auto;
}

.tmn:hover {
    background: #c6c6c64d;
    border-radius: 5px;
}

.pemberitahuan {
    position: relative;
    height: 580px !important;
    width: 100%;
    overflow: hidden !important;
}


.inp-ngobrol {
    border-radius: 30px !important;
    background: whitesmoke;
    border: 1px solid #827ffe;
}

.inp-ngobrol::placeholder {
    color: gray;
    font-size: 14px;
}

.inp-srch {
    padding: 16px !important;
    right: 0px;
    background-color: #827ffe;
    color: white;
}